.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vs

tests/backend.Tests/bin/*
tests/backend.Tests/obj/*
backend/bin/*
backend/obj/*
backend/backend/bin/*
backend/backend/obj/*

